BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "led0" SITE "Y20" ;
LOCATE COMP "led1" SITE "AA21" ;
LOCATE COMP "led2" SITE "U18" ;
LOCATE COMP "clk" SITE "L5" ;
LOCATE COMP "rstn" SITE "A21" ;
LOCATE COMP "uart_in" SITE "G19" ;
FREQUENCY NET "clk_c" 100.000000 MHz ;
LOCATE COMP "uart_out" SITE "G20" ;
LOCATE COMP "clk_calin_n" SITE "G15" ;
LOCATE COMP "rst_in_n" SITE "D15" ;
LOCATE COMP "en_in_n" SITE "C15" ;
LOCATE COMP "d_in_14" SITE "B11" ;
LOCATE COMP "d_in_13" SITE "B12" ;
LOCATE COMP "d_in_12" SITE "A12" ;
LOCATE COMP "d_in_11" SITE "A13" ;
LOCATE COMP "d_in_10" SITE "E12" ;
LOCATE COMP "d_in_9" SITE "E13" ;
LOCATE COMP "d_in_8" SITE "C13" ;
LOCATE COMP "clk_out_fpga" SITE "A17" ;
IOBUF PORT "clk_out_fpga" IO_TYPE=LVCMOS33 SLEWRATE=SLOW PULLMODE=UP DRIVE=20 ;
LOCATE COMP "adr_2" SITE "G14" ;
LOCATE COMP "adr_1" SITE "B16" ;
LOCATE COMP "adr_0" SITE "F15" ;
LOCATE COMP "oe_cal_n" SITE "E22" ;
LOCATE COMP "clk_in_fpga" SITE "A19" ;
IOBUF PORT "led2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "clk" IO_TYPE=LVDS25 ;
LOCATE COMP "d_in_7" SITE "A15" ;
LOCATE COMP "d_in_6" SITE "F14" ;
LOCATE COMP "d_in_5" SITE "F13" ;
LOCATE COMP "d_in_4" SITE "B14" ;
LOCATE COMP "d_in_3" SITE "A14" ;
LOCATE COMP "d_in_2" SITE "D14" ;
LOCATE COMP "d_in_1" SITE "D13" ;
LOCATE COMP "d_in_0" SITE "C14" ;
