#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1176R.
#

# Period Constraints 
#FREQUENCY PORT "clk" 194.5 MHz;
#FREQUENCY NET "norm_clk" 126.8 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "norm_clk" TO CLKNET "clk_c";
#BLOCK PATH FROM CLKNET "clk_c" TO CLKNET "norm_clk";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
